<a href="https://colab.research.google.com/github/uapej/TIM50/blob/main/TIM50_Jaden_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Imports and sets everything up
import sqlalchemy
engine = sqlalchemy.create_engine('sqlite:///myDB.db')
con = engine.raw_connection()
cursor = con.cursor()

In [4]:
# Creates table
q = '''CREATE TABLE IF NOT EXISTS Flights
(ID INTEGER PRIMARY KEY, Name TEXT, Origin TEXT, Destination TEXT);'''
cursor.execute(q) ;
con.commit();

In [5]:
import pandas as pd

In [7]:
# created my own csv in google sheets to insert into table (may be attached in my assignment if I figure it out)
data = pd.read_csv('NewFlights - Sheet1.csv')
data.to_sql('Flights', con, if_exists='append', index=False)

In [8]:
# prints all rows and columns in table
for row in cursor.execute("SELECT * FROM Flights;"): print(row)

(20, 'UA', 'San Jose', 'London')
(21, 'UB', 'New York', 'London')
(22, 'UC', 'San Jose', 'London')
(23, 'UD', 'San Diego', 'Singapore')
(24, 'UE', 'Orlando', 'Miami')
(25, 'UF', 'Los Angeles', 'Miami')

In [9]:
# prints column names and data types
for row in cursor.execute("PRAGMA table_info('Flights');"): print(row)

(0, 'ID', 'INTEGER', 0, None, 1)
(1, 'Name', 'TEXT', 0, None, 0)
(2, 'Origin', 'TEXT', 0, None, 0)
(3, 'Destination', 'TEXT', 0, None, 0)

In [10]:
# creates another table for specifications
q = '''CREATE TABLE IF NOT EXISTS Specification
(specID INTEGER PRIMARY KEY, SeatQuantity INTEGER, Type TEXT, ID INTEGER);'''
cursor.execute(q) ;
con.commit();

In [11]:
# created my own csv once again
data = pd.read_csv('Specifications - Sheet1 (1).csv')
data.to_sql('Specification', con, if_exists='append', index=False)

In [12]:
# prints all rows and columns
for row in cursor.execute("SELECT * FROM Specification;"): print(row)

(1, 500, 'Commercial', 20)
(2, 200, 'Commercial', 21)
(3, 100, 'Charter', 22)
(4, 10, 'Private', 23)

In [13]:
# prints column names and data types
for row in cursor.execute("PRAGMA table_info('Specification');"): print(row)

(0, 'specID', 'INTEGER', 0, None, 1)
(1, 'SeatQuantity', 'INTEGER', 0, None, 0)
(2, 'Type', 'TEXT', 0, None, 0)
(3, 'ID', 'INTEGER', 0, None, 0)

In [14]:
# using inner join
q = '''SELECT Flights.Name, Flights.Origin, Flights.Destination, Specification.specID, Specification.SeatQuantity, Specification.Type
FROM Flights INNER JOIN Specification ON Flights.ID=Specification.ID'''

In [15]:
for row in cursor.execute(q):print(row)

('UA', 'San Jose', 'London', 1, 500, 'Commercial')
('UB', 'New York', 'London', 2, 200, 'Commercial')
('UC', 'San Jose', 'London', 3, 100, 'Charter')
('UD', 'San Diego', 'Singapore', 4, 10, 'Private')

In [16]:
# using left join
q = '''SELECT Flights.Name, Flights.Origin, Flights.Destination, Specification.specID, Specification.SeatQuantity, Specification.Type
FROM Flights LEFT JOIN Specification ON Flights.ID=Specification.ID'''

In [17]:
for row in cursor.execute(q):print(row)

('UA', 'San Jose', 'London', 1, 500, 'Commercial')
('UB', 'New York', 'London', 2, 200, 'Commercial')
('UC', 'San Jose', 'London', 3, 100, 'Charter')
('UD', 'San Diego', 'Singapore', 4, 10, 'Private')
('UE', 'Orlando', 'Miami', None, None, None)
('UF', 'Los Angeles', 'Miami', None, None, None)

In [18]:
# using left join to find flights with greater than 100 seats
q = '''SELECT Flights.Name, Flights.Origin, Flights.Destination, Specification.specID, Specification.SeatQuantity, Specification.Type 
FROM Flights LEFT JOIN Specification ON Flights.ID=Specification.ID
WHERE Specification.SeatQuantity>100;'''

In [19]:
for row in cursor.execute(q): print(row)

('UA', 'San Jose', 'London', 1, 500, 'Commercial')
('UB', 'New York', 'London', 2, 200, 'Commercial')