<a href="https://colab.research.google.com/github/uapej/TIM50/blob/main/TIM50_Jaden_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Imports and sets everything up
import sqlalchemy
engine = sqlalchemy.create_engine('sqlite:///myDB')
con = engine.raw_connection()
cursor = con.cursor()

In [2]:
# creates table "flights"
cursor.execute("CREATE TABLE flights(Depart_Time TIME, Origin TEXT, Arrival_Time TIME, Destination TEXT, Flight VARCHAR, Aircraft VARCHAR, Stops VARCHAR, hours INT, minutes INT, duration FLOAT, codeshare INT);")

In [3]:
# import to transfer data to table
import pandas as pd

In [4]:
# transferring data to table
data = pd.read_csv('flights-2 (1).csv')
data.to_sql('flights', con, if_exists='append', index=False)

In [6]:
# creates table "aircrafts"
cursor.execute("CREATE TABLE aircrafts(Aircraft VARCHAR, Seats INT);")

In [7]:
# transfers data to table
data = pd.read_csv('aircrafts.csv')
data.to_sql('aircrafts', con, if_exists='append', index=False)

In [8]:
# gets first 5 rows from flights
for row in cursor.execute("SELECT * FROM flights LIMIT 5;"): print(row)

('12:10', 'MUC', '19:38', 'SFO', 'UA 907 ', '763', '1', 16, 28, 16.47, None)
('10:35', 'TPE', '8:06', 'SFO', 'UA 830 ', '777', '1', 13, 31, 13.52, None)
('15:15', 'SYD', '9:38', 'SFO', 'UA 870 ', '744', 'Non-Stop', 13, 23, 13.38, None)
('20:00', 'AKL', '11:15', 'SFO', 'NZ 008 ', '772', 'Non-Stop', 12, 15, 12.25, None)
('15:50', 'MUC', '19:00', 'SFO', 'LH 458 ', '346', 'Non-Stop', 12, 10, 12.17, None)

In [9]:
# gets first 5 rows from aircrafts
for row in cursor.execute("SELECT * FROM aircrafts LIMIT 5;"): print(row)

('737', 124)
('733', 124)
('319', 124)
('73G', 124)
('735', 104)

In [10]:
# prints columns and types
for row in cursor.execute("PRAGMA table_info('flights');"): print(row)

(0, 'Depart_Time', 'TIME', 0, None, 0)
(1, 'Origin', 'TEXT', 0, None, 0)
(2, 'Arrival_Time', 'TIME', 0, None, 0)
(3, 'Destination', 'TEXT', 0, None, 0)
(4, 'Flight', 'VARCHAR', 0, None, 0)
(5, 'Aircraft', 'VARCHAR', 0, None, 0)
(6, 'Stops', 'VARCHAR', 0, None, 0)
(7, 'hours', 'INT', 0, None, 0)
(8, 'minutes', 'INT', 0, None, 0)
(9, 'duration', 'FLOAT', 0, None, 0)
(10, 'codeshare', 'INT', 0, None, 0)

In [11]:
# prints columns and types
for row in cursor.execute("PRAGMA table_info('aircrafts');"): print(row)

(0, 'Aircraft', 'VARCHAR', 0, None, 0)
(1, 'Seats', 'INT', 0, None, 0)

In [55]:
# prints total number of rows
q = '''SELECT COUNT(*)
FROM flights;'''
cursor.execute(q)
result = cursor.fetchall()
print(result[-1][-1])

893

In [56]:
# prints total number of rows
q = '''SELECT COUNT(*)
FROM aircrafts;'''
cursor.execute(q)
result = cursor.fetchall()
print(result[-1][-1])

34

In [60]:
# prints number of distinct values
q = '''SELECT COUNT(DISTINCT(Depart_Time))
FROM flights;'''
cursor.execute(q)
result = cursor.fetchall()
print(result[-1][-1])

286

In [61]:
# prints number of distinct values
q = '''SELECT COUNT(DISTINCT(Origin))
FROM flights;'''
cursor.execute(q)
result = cursor.fetchall()
print(result[-1][-1])

71

In [62]:
# prints number of distinct values
q = '''SELECT COUNT(DISTINCT(Arrival_Time))
FROM flights;'''
cursor.execute(q)
result = cursor.fetchall()
print(result[-1][-1])

302

In [63]:
# prints number of distinct values
q = '''SELECT COUNT(DISTINCT(Destination))
FROM flights;'''
cursor.execute(q)
result = cursor.fetchall()
print(result[-1][-1])
q = '''SELECT COUNT(DISTINCT(Flight))
FROM flights;'''
cursor.execute(q)
result = cursor.fetchall()
print(result[-1][-1])
q = '''SELECT COUNT(DISTINCT(Aircraft))
FROM flights;'''
cursor.execute(q)
result = cursor.fetchall()
print(result[-1][-1])
q = '''SELECT COUNT(DISTINCT(Stops))
FROM flights;'''
cursor.execute(q)
result = cursor.fetchall()
print(result[-1][-1])
q = '''SELECT COUNT(DISTINCT(hours))
FROM flights;'''
cursor.execute(q)
result = cursor.fetchall()
print(result[-1][-1])
q = '''SELECT COUNT(DISTINCT(minutes))
FROM flights;'''
cursor.execute(q)
result = cursor.fetchall()
print(result[-1][-1])
q = '''SELECT COUNT(DISTINCT(duration))
FROM flights;'''
cursor.execute(q)
result = cursor.fetchall()
print(result[-1][-1])
q = '''SELECT COUNT(DISTINCT(codeshare))
FROM flights;'''
cursor.execute(q)
result = cursor.fetchall()
print(result[-1][-1])

1
869
32
2
15
56
186
1

In [64]:
# drops tables
q = "DROP TABLE IF EXISTS flights;"
cursor.execute(q) ;
con.commit();
q = "DROP TABLE IF EXISTS aircrafts;"
cursor.execute(q) ;
con.commit();

In [65]:
# creates table flights
q = """CREATE TABLE IF NOT EXISTS flights
(Depart_Time TIME, Origin TEXT, Arrival_Time TIME, Destination TEXT, Flight VARCHAR, Aircraft VARCHAR, Stops VARCHAR, hours INT, minutes INT, duration FLOAT, codeshare INT,
PRIMARY KEY(Depart_Time, Flight) );"""
cursor.execute(q) ;
con.commit();

In [67]:
# creates table aircrafts
q = """CREATE TABLE IF NOT EXISTS aircrafts
(Aircraft VARCHAR, Seats INT,
PRIMARY KEY(Aircraft, Seats) );"""
cursor.execute(q) ;
con.commit();

In [76]:
# transfers data to flights
df = pd.read_csv('flights-2 (1).csv')
df.to_sql('flights', con, if_exists='append', index = False)

In [78]:
# transfers data to aircrafts
df = pd.read_csv('aircrafts.csv')
df.to_sql('aircrafts', con, if_exists='append', index = False)

In [79]:
# number of people flying from DEN-SFO nonstop
q = """SELECT SUM(Seats)
FROM flights LEFT JOIN aircrafts ON flights.Aircraft = aircrafts.Aircraft
WHERE flights.Origin = 'DEN' AND flights.Destination = 'SFO' AND flights.Stops = 'Non-Stop';"""
for row in cursor.execute(q): print(row)

(6292,)

In [80]:
# Max number of people arriving in SFO from DEN or SAN on a flight starting with '7'
q = """SELECT MAX(Seats)
FROM flights LEFT JOIN aircrafts ON flights.Aircraft = aircrafts.Aircraft 
WHERE flights.Aircraft >= 700 AND flights.Aircraft <= 799 AND flights.Destination AND flights.Origin = 'DEN' OR flights.Origin = 'SAN';"""
for row in cursor.execute(q): print(row)

(182,)